body{
    font-family: "Poppins", sans-serif;
    background: #f5f7fb;
}

/* spacing for fixed navbar */
.form-container{
    margin-top: 120px;
    margin-bottom: 60px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: #f5f7fb;
}

.navbar{
    padding: 12px 0;
    transition: .3s;
}

.logo-img{
    width: 160px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
    transition: .3s;
}

.logo-img:hover{
    transform: scale(1.05);
}

.nav-link{
    position: relative;
    margin: 0 10px;
    font-weight: 600;
    color: #333 !important;
    transition: .3s;
}

.nav-link:hover{
    color: #0d6efd !important;
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #0d6efd;
    transform: translateX(-50%);
    transition: .3s;
}

.nav-link:hover::after{
    width: 100%;
}

.login-section{
    padding: 140px 0 80px;
}

/* card */
.card{
    border-radius: 15px;
}

/* inputs */
.form-control{
    border-radius: 10px;
    height: 45px;
}

/* focus clean */
.form-control:focus{
    box-shadow: 0 0 10px rgba(13,110,253,0.2);
    border-color: #0d6efd;
}

/* button */
.btn-primary{
    padding: 12px;
    font-weight: 600;
}

.btn-primary:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(13,110,253,0.3);
}
footer{
    background: #0d6efd;
    color: white;
    padding: 45px 0 25px;
    margin-top: 80px;
}

footer h2{
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

footer p{
    text-align: center;
    margin-bottom: 12px;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 25px 0;
    flex-wrap: wrap;
}

.footer-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.footer-links a:hover{
    color: #dbe8ff;
}

footer hr{
    border-color: rgba(255,255,255,.3);
}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn{
    from{
        opacity: 0;
        transform: scale(.8);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}



.toast{
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 99999;
    background: linear-gradient(135deg,#2563EB,#60A5FA);
    color: #fff;
    padding: 16px 24px;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 10px 30px rgba(37,99,235,.35);
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: opacity .4s ease, transform .4s ease, visibility .4s;
}

.toast.show{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}